<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lcbrq" sortOrder="999" translate="label" class="lcbrq-tab">
            <label>LeftCurlyBracket</label>
        </tab>        
        <section id="lcbrq_homebook_pixel" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="330" translate="label">
            <label>Homebook Pixel</label>
            <tab>lcbrq</tab>
            <resource>LCB_HomebookPixel::Settings</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
